<connectionStrings>
  <!-- Default connection for OS2 database  -->
  <add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=localhost; port=3306; Initial Catalog=os2; uid=root; pwd=w1z28b39e; CharSet=utf8; Allow User Variables=True" />
  <!-- DBUpdaterConnection for connection to data views with Persons and OrgUnits -->
  <!--<add name="DBUpdaterConnection" connectionString="data source=; initial catalog=; persist security info=True;user id=; password=>e"/>-->
  <add name="DBUpdaterConnection" providerName="MySql.Data.MySqlClient" connectionString="Server=172.30.0.86;Database=OS2Indberet;Uid=sys_indberet;Pwd=DRVujcm5xBNSSjF5;" />
  <!-- DMZConnection for connection to app database in the DMZ -->
  <add name="DMZConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=localhost; port=3306; Initial Catalog=os2webapi; uid=root;  pwd=root; CharSet=utf8; Allow User Variables=True" />
</connectionStrings>
