<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header}"></head>
<body class="top-navigation">
	<div id="wrapper">
	    <div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/navbar :: topbar}"></div>

	        <div class="wrapper wrapper-content">
	            <div class="row">
	                <div class="col-md-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5><em class="fa fa-exclamation-triangle"></em> &nbsp; Manglende adgang til OS2indberetning</h5>
                            </div>
							
                            <div class="ibox-content" >
								<p>Bruger findes ikke i løsningen. Hvis du mener at dette er en fejl så kontakt venligst din lokale IT-Afdeling</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

			<div th:replace="~{fragments/footer :: footer}"></div>
	    </div>
	</div>

	<div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>