<div class="modal-header">
    <h3 class="modal-title">Tilføj Ny Advisering.</h3>
</div>
<div class="modal-body">
    <div>
        <div class="form-group">
            <div class="row">
                <label class="col-md-6">Lønkørselsdato</label>
                <div class="col-md-4">
                    <input class="margin-5" kendo-datepicker k-options="dateOptions" k-ng-model="FileGenerationSchedule.DateTimestamp" />
                </div>
            </div>
            <div class="row">
                <label class="col-md-6">Gentag månedligt</label>
                <div class="col-md-4">
                    <select class="form-control margin-5" ng-model="FileGenerationSchedule.Repeat">
                        <option value="true">Ja</option>
                        <option value="false">Nej</option>
                    </select>
                </div>
            </div>
            <div ng-repeat="EmailNotificationSchedule in FileGenerationSchedule.MailNotificationSchedules">
                <div class="row">
                    <div class="col-md-4">
                        {{$index}}
                    </div>
                    <div class="col-md-4">
                        <input class="margin-5" kendo-datepicker k-options="dateOptions" k-ng-model="FileGenerationSchedule.MailNotificationSchedules[$index].DateTimestamp" />
                    </div>
                    <div class="col-md-4">
                            <button class="btn btn-default" ng-enter="" ng-click="RemoveMailNotificationSchedule($index)">Slet</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea ng-enter="" type="text" class="form-control min-height-100 max-width-100p" ng-model="FileGenerationSchedule.MailNotificationSchedules[$index].CustomText"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default" ng-enter="" ng-click="AddMailNotificationSchedule()">Tilføj emailadvis</button>
                </div>
            </div>
            <div class="row">
                <label class="text-danger col-md-6" ng-bind="dateErrorMessage"></label>
            </div>
            <div class="row">
                <label class="text-danger col-md-6" ng-bind="payDateErrorMessage"></label>
            </div>
            <div class="row">
                <label class="text-danger col-md-6" ng-bind="repeatErrorMessage"></label>
            </div>
            
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-right" style="margin: 5px" ng-click="cancel()">Annuller</button>
    <button class="btn btn-success pull-right" style="margin: 5px" ng-click="confirmSave()">Gem</button>

</div>